 ../../../../.CFUserTextEncoding
        ../../../../.DS_Store
        ../../../../.anydesk/
        ../../../../.bash_history
        ../../../../.bash_sessions/
        ../../../../.gitconfig
        ../../../../.local/
        ../../../../.npm/
        ../../../../.sonarlint/
        ../../../../.ssh/
        ../../../../.viminfo
        ../../../../.vscode/
        ../../../../Applications/
        ../../../.DS_Store
        ../../../.localized
        ../../../CENSO/
        ../../../Captura de Pantalla 2024-04-03 a la(s) 18.35.17.png
        ../../../Captura de Pantalla 2024-04-03 a la(s) 18.36.40.png
        ../../../Captura de Pantalla 2024-04-18 a la(s) 19.15.24.png
        ../../.DS_Store
        ../../apuntes/
        ../../clases/
        ../.DS_Store
        ../01_p_Prueba_-_Desarrollo_de_portafolio.pdf
        ../CV Camilo Araya/
        ../Iguana Page/
        ../Landing Page/
        ../cuppon/
        ../git y github/
        ../../guias de estudio/
        ../../../cvCamiloAraya.pdf
        ../../../poleras/
        ../../../../Documents/
        ../../../../Downloads/
        ../../../../Library/
        ../../../../Movies/
        ../../../../Music/
        ../../../../Pictures/
        ../../../../Public/